node_modules
npm-debug.log
yarn-error.log
yarn.lock

# Env files
.env
.env.local
.env.*.local

# Logs
logs
*.log

# OS & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Build / temporary files
dist/
build/
coverage/
tmp/
*.tsbuildinfo